{%include 'parts/common.html'%}
{%include 'parts/navbar.html'%}
<!--        <div>-->
<!--            {% block content %}-->
<!--                <h1>Home page</h1>-->
<!--    &lt;!&ndash;            <p>Hello, {{ name }}, you are {{age}} years old</p>&ndash;&gt;-->
<!--                <p>Hello, {{name}}!</p>-->
<!--            {% endblock %}-->
<!--        </div>-->
<div class="container mt-5">
    <div class="row p-4">
        <p>Веб-разработка – современная и востребованная профессия. Всё, что вы видите, открывая интернет, делает веб-разработчик. Поэтому погружаться в увлекательный мир программирования необходимо со школьной скамьи.
            Направление подходит и тем, кто никогда не занимался программированием, и школьникам, которые уже имеют небольшой опыт и хотят повысить свои навыки. Под руководством опытного педагога, ребята создадут сайт, будут отвечать за логику работы сайта и его визуальную часть, а также научатся систематизировать информацию. </p>

        <p>На данном курсе обучающиеся научатся создавать простые веб-сайты. Изучат язык разметки HTML, каскадные таблицы стилей CSS, популярный язык программирования JavaScript, а также получат навыки работы в графическом редакторе Figma для создания макетов собственных веб-сайтов </p>
    </div>
    <div class="row p-4">
        Обучающиеся на данном курсе:
        <ul class="list-group">
            <li class="list-group-item">– изучат язык разметки HTML;</li>
            <li class="list-group-item">– изучат каскадные таблицы стилей CSS;</li>
            <li class="list-group-item">– получат навыки работы в графическом редакторе Figma;</li>
            <li class="list-group-item">– научатся разрабатывать веб-сайты;</li>
            <li class="list-group-item">– познакомятся с принципами работы сети Интернет;</li>
            <li class="list-group-item">– изучат правила оформления и дизайна веб-страниц.</li>
        </ul>
    </div>
    <div class="row p-4 bg-primary text-white border border-primary-subtle rounded-3">
        <p>Группы:</p>
        <p>Web-1 ( Вторник 10:00-11:45 – Пятница 10:00-11:45 ) 7-8 классы</p>
        <p>Web-2 ( Вторник 16:00-17:45 – Пятница 16:00-17:45 ) 7-8 классы</p>
    </div>
</div>