{%include 'parts/common.html'%}

<div class="wrapper">
  {%include 'parts/navbar.html'%}
  <div class="container mt-5 my-main">
    <div class="card card-body">
      <div class="d-flex justify-content-center">
        <img class="module-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/1200px-CSS3_logo.svg.png" alt="HTML">
      </div>
      <h3 class="d-flex justify-content-center mt-2">Модуль 2: Дизайн</h3>
      <p class="text-center">В Модуле 2, обучающиеся получат навыки работы с графическим редактором Figma. Узнают, как создаются макеты для веб-сайта или веб-приложения</p>
      <h4 class="text-center">Модуль включает в себя изучение следующих технологий:</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">№ п/п</th>
                    <th class="text-center">Наименование разделов и тем</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">Знакомство с созданием прототипов</td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td class="text-center">Создание стиля </td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td class="text-center">Экспорт и работа с прототипом</td>
                </tr>
                <tr>
                    <td class="text-center">4</td>
                    <td class="text-center">Создание дизайна</td>
                </tr>
                </tbody>
            </table>
    </div>
  </div>
</div>

{%include 'parts/footer.html'%}